.cajon{
    border: 1px solid blue;
    padding: 20px;
    color:tomato
}
footer{
    background-color: blue;
    color: white;
}
header{
    color: gray;
    background: yellow;
    text-align: center;
}